@import "../../../../../../src/app/styles/variables.scss";
@import "../../../../../../src/app/styles/mixins.scss";

.wrapper {
  cursor: pointer;
  display: block;
  line-height: 2rem;
  padding: .8rem 1rem;
  &:hover {
    background: none;
    color: $black;
  }
}

.isFocused {
  background-color: $snow;

  &:hover {
    background: $snow;
  }
}

.content {
  color: $granite;
  font-size: $font-size-normal;
  padding: 0 1.2rem;
  padding-top: 0.2rem;
  width: 100%;
}

.wrapper:hover .content {
  color: $black;
  opacity: 1;
}
